@import url("https://use.fontawesome.com/releases/v5.15.2/css/all.css");

body{
    height: 200vh;
    background-color: turquoise;
}

.bg-nav{
    background-color: #0D1E33;
}
.nav-title{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #fff!important;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.navbar-dark .navbar-toggler{
    border-color: transparent;
}
.navbar-collapse{
    flex-grow: 0;
}
@media screen and (min-width: 992px) {
    .navbar.navbar-expand-lg{
        height: clamp(71px,5vw,113px);
    }
    .navbar-nav{
        a{
            margin: 0px 10px;
        }
    }
}
.nav-link{
    &.active{
        font-weight: 700;
    }
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
//여기서부터 information css
.sticky-nav{
    background-color: #fff;
    opacity: 0.8;
    position: fixed;
    top: clamp(71px,5vw,113px);
    .btn-content-change{
        border-color: #17375e;
        background-color: transparent;
        padding: 10px;
        border: none;
        transition: background-color 0.5s ease-in-out;
        &:hover{
            background-color: #eeeeee;
        }
        &.active{

            border-bottom: 2px solid #17375e;
        }
    }
}
.home-content{
    display: none;
    margin-top: clamp(71px,5vw,113px);
    transition: display .8s ease-in-out,opacity .15s linear;;
    &.active{
        display: block;
    }
}
.nav-tabs{
    
    border-bottom: none;
}

.nav-link.active{
    border: none;
}
.tab-content{
    margin-top: clamp(71px,5vw,113px);
}