@import "./fonts";

.bg-enter {
  margin-top: clamp(71px, 5vw, 113px);
  background-color: #101d2d;
  min-height: 100vh;
}
.title-position {
  padding-top: 40px;
}
.company-history {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #d1e9f6;
}
.adjust-mp {
  margin-top: clamp(60px, 10vw, 80px);
  padding-bottom: clamp(60px, 10vw, 80px);
}
.card-font {
  @extend %연혁-title-font;
  font-weight: 700;
  font-family: Noto Sans;
  color: #fff;
}
.upper-content {
  font-size: clamp(16px, 2.2vw, 20px);
  color: #bfbfbf;
  margin-top: 30px;
}
.canvas {
  height: 580px;
  width: 580px;
  max-width: 90vw;
  max-height: 90vw;
  position: relative;
  .circle- {
    &1 {
      position: absolute;
      width: 66%;
      height: 66%;
      border-radius: 50%;
      border: 2px solid #c4c4c4;
      left: 50%;
      transform: translateX(-50%);
      div {
        position: absolute;
        left: 50%;
        top: 5%;
        transform: translateX(-50%);
        font-family: Noto Sans;
        font-style: normal;
        font-weight: 500;
        font-size: clamp(16px, 3vw, 25px);
        color: #fff;
      }
    }
    &2 {
      position: absolute;
      width: 66%;
      height: 66%;
      border-radius: 50%;
      border: 2px solid #c4c4c4;
      left: 0%;
      bottom: 0%;
      div {
        position: absolute;
        right: 50%;
        bottom: 5%;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: 500;
        font-size: clamp(16px, 3vw, 25px);
        color: #fff;
      }
    }
    &3 {
      position: absolute;
      width: 66%;
      height: 66%;
      border-radius: 50%;
      border: 2px solid #c4c4c4;
      right: 0%;
      bottom: 0%;
      div {
        position: absolute;
        left: 50%;
        bottom: 5%;
        font-family: Noto Sans;
        font-style: normal;
        font-weight: 500;
        font-size: clamp(16px, 3vw, 25px);
        color: #fff;
      }
    }
  }
  .logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    .logo-base {
      flex-wrap: wrap;
      height: 46px;
      width: 46px;

      .logo-component {
        width: 50%;
        height: 50%;
        &:nth-child(1) {
          background-color: transparent;
        }
      }
    }
    .enter-font {
      color: #fff;
      font-weight: bold;
      position: absolute;
      left: -50%;
      font-size: 30px;
      @media screen and (max-width: 576px) {
        font-size: 18px;
        transform: translateX(33%);
      }
    }
  }
}
.under-content {
  margin-top: 80px;
  color: #bfbfbf;
  @extend %sub-content-font;
}
.canvas.description {
  width: 80px;
  height: auto;
  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #71a3ce;
  }
  .line {
    position: relative;
    left: 24px;
    height: 100px;
    width: 2px;
    background-color: #71a3ce;
  }
}
.description-font {
  font-size: 32px;
  color: #71a3ce;
  &.below {
    font-size: 24px;
    color: #c4c4c4;
    height: 96px;
  }
}
@media screen and (max-width: 576px) {
  .canvas.description {
    .circle {
      width: 25px;
      height: 25px;
    }
    .line {
      left: 12px;
      height: 100px;
      width: 2px;
    }
  }
  .description-font {
    font-size: 16px;
    &.below {
      font-size: 14px;
    }
  }
}
.bg-nav {
  border-bottom: 1px solid #c4c4c4;
}
.box {
  width: 100%;
  height: 0px;
  padding-bottom: 65%;
  border: 1px solid #999999;
  position: relative;
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .company-name {
      color: #dddddd;
      margin-bottom: 12px;
    }
    .company-des {
      color: #cccccc;
      font-size: 12px;
    }
    a {
      color: #71a3ce;
      font-size: 14px;
    }
    .recruiting {
      font-size: 20px;
      color: #999999;
    }
  }
}
